.Principal{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 100%;
    /*background-color: #5BAC6B ;*/
}
.naav{
    margin: 10px;
    width: 100%;
    height: 80%;
    display: flex;
}
.menu{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: row-reverse;
}
.logo{
    width: 40%;
    height: 80%;
    display: flex;
}

li{
    text-decoration: none;
    font-size: medium;
    overflow: hidden;
    display: inline-block;
}


ul{
    padding: 30px;
    list-style-type: none;
}

.Contenedor-3{
    margin: 10px;
}

img{
    object-fit: contain;
    width: 100%;
    height: auto;
}

.P1{
    display: inline-block;
    width: 30%;
    height: 300px;
    margin: 10px;
}

.P1 img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

.P2{
    display: inline-block;
    width: 30%;
    height: 300px;
    margin: 10px;
}
.P3{
    display: inline-block;
    width: 30%;
    height: 300px;
    margin: 10px;
}